/* new 2023 css additions */

/* misc type classes */
.bidTotal span {
    font-weight: 400;
    font-size: 80%;
}
.noMargin {
    margin: 0 !important;
}
.blur {
    filter:blur(10px)
}
    


/* misc color classes */
.darkText {
    color: #231f20;
}
.ctaButton.inActive,
.ctaButton.inActive:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}


/* image handling */
.smallIcon {
    width:260px;
    height: auto;
}
.smallerIcon {
    width:100px;
    height: auto;
}
.smallestIcon {
    width:50px;
    height: auto;
}
.heightIcon {
    height: 50px;
    width:auto;

}

div.donatedBy {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
}


/* parent flex overrides */
.centerEverything {
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.sideBySide {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 1em;
    width:320px;
}
div#currentBids li {
    display: flex;
    justify-content: space-between;
    column-gap: 5vw;
    white-space: nowrap;
}
@media screen and (max-width:750px) {
    h5.bidTotal {
        margin-bottom: 1em;
    }
    h5.bidTotal span {
        display: block;
    }
    h5.bidTotal br {
        display: none;
    }
    div#currentBids li span {
        order: 1;
    }
    div#currentBids li span:last-of-type {
        order: 0;
        flex-basis: 100%;
    }
}

@media screen and (max-width:1100px) {
    .auctionImage {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    div#currentBids li {
        flex-wrap: wrap;
    }

}

@media screen and (min-width:1100px) {
    .flip div.scontain {
        flex-direction: row-reverse;
    }
    div.editorial.micro  {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .sideBySide {
        width:350px;
    }

}

/* gallery updates - square images */
.auctionImage {
    border:1px solid #fff;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
}
div.gallery.square div.galleryItem div.pbVideo {
    margin-bottom: 0;
}
div.gallery.square .thumbImg > * {
    width:90px;
    height: 90px;
    margin: 10px;
    margin-left:0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border:2px solid#fff;
    text-decoration: none;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
    transition: 0.25s;
}
div.gallery.square .thumbImg > *.activeLink {
    border-color: rgba(87,166,123,1.0);
}
div.gallery.square .thumbImg > *.isVideo::before {
    margin-left: -20px;
}
div.gallery.square .thumbImg > *:hover {
    transform: translateY(-5px);
}


/* 3rd party theming */
.braintreeClr {
    color: rgba(242,106,50,1.0);
}
hr.braintree {
    border-color: rgba(242,106,50,1.0);
}
article.braintreeBg {
    background-color: rgba(242,106,50,1.0);
    color: #ffffff;
    background-image: url(/images/2023/braintree/tile.png);
    padding:5vw;
}
article.braintreeBg a:link:not(.ctaButton),
article.braintreeBg a:hover:not(.ctaButton),
article.braintreeBg a:active:not(.ctaButton),
article.braintreeBg a:visited:not(.ctaButton) {
    color: #fff !important;
}
article.braintreeBg h1 {
    color: #fff !important;
    padding-bottom: 5px;
}
article.braintreeBg div.scontain section:first-of-type {
    background-image: none;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: stretch;
    min-height:50vh;
}
@media screen and (max-width:1100px) {
    article.braintreeBg {
        padding-top:7vh;
    }
}


/* minor item grid */
@media screen and (min-width: 1001px) {
    .grid > div.item {
        padding: 20px;
        background-color: #fff;    
    }
    .grid > div.item > div {
        padding: 10px;
    }
    @supports (display: grid) {
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
            grid-column-gap:3%;
        }    
    }
    @supports not (display: grid) {
        .grid > div.item  {
            flex-basis: 20%;
            margin-right:2%;
        }    
    }   
}