/* new 2023 css additions */

/* misc type classes */
.bidTotal span {
    font-weight: 400;
    font-size: 80%;
}


/* misc color classes */
.darkText {
    color: #231f20;
}
.ctaButton.inActive,
.ctaButton.inActive:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}


/* image handling */
.smallIcon {
    width:260px;
    height: auto;
}
.smallerIcon {
    width:100px;
    height: auto;
}
.smallestIcon {
    width:50px;
    height: auto;
}

@media screen and (max-width:1100px) {
    .auctionImage {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* parent flex overrides */
.centerEverything {
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

@media screen and (min-width:1100px) {
    .flip div.scontain {
        flex-direction: row-reverse;
    }
}

/* gallery updates - square images */
div.gallery.square div.galleryItem {
    border:1px solid #fff;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
}
div.gallery.square div.galleryItem div.pbVideo {
    margin-bottom: 0;
}
div.gallery.square .thumbImg > * {
    width:90px;
    height: 90px;
    margin: 10px;
    margin-left:0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    border:2px solid#fff;
    text-decoration: none;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
    transition: 0.25s;
}
div.gallery.square .thumbImg > *.activeLink {
    border-color: rgba(87,166,123,1.0);
}
div.gallery.square .thumbImg > *.isVideo::before {
    margin-left: -20px;
}
div.gallery.square .thumbImg > *:hover {
    transform: translateY(-5px);
}


/* 3rd party theming */
.braintreeClr {
    color: rgba(242,106,50,1.0);
}
hr.braintree {
    border-color: rgba(242,106,50,1.0);
}
article.braintreeBg {
    background-color: rgba(242,106,50,1.0);
    background-image: url(/images/2023/braintree/tile.png);
}
article.braintreeBg a:link:not(.ctaButton),
article.braintreeBg a:hover:not(.ctaButton),
article.braintreeBg a:active:not(.ctaButton),
article.braintreeBg a:visited:not(.ctaButton) {
    color: #fff !important;
}
article.braintreeBg h1 {
    color: #fff !important;
    padding-bottom: 5px;
}
article.braintreeBg div.scontain section:first-of-type {
    background-image: url('/images/2023/braintree/BT5.jpg');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: stretch;
    min-height:50vh;
}
