/* 2026 css */
.ctaButton26,
.ctaButton26:visited {
    transition: 0.2s;
    background-color: rgba(87,166,123,1.0);
    color:rgba(255,255,255,1.0) !important;
    display: inline-block;
    margin-top: 1em;
    text-align: center;
    border: 2px solid rgba(87,166,123,1.0);
    padding:  12px 2vw 14px 2vw;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom:5px;
    position: relative;
}
@media screen and (max-width: 1100px) {
    .ctaButton26,
    .ctaButton26:visited {
        display: block;
    }
}
.ctaButton26:hover,
.ctaButton26:visited:hover {
    background-color: rgba(255,255,255,0.0);
    color: rgba(87,166,123,1.0) !important;
}

.ctaButton26.mimimal {
    padding-right: 2.5vw;
    padding-left: 0.5vw;
    text-align: left;
    background-color: rgba(255,255,255,0.0);
    border: 2px solid rgba(87,166,123,0);
    border-radius: 0;
}
.ctaButton26.mimimal:hover {
    border-bottom: 2px solid rgba(87,166,123,1.0);
}
.ctaButton26.mimimal::after {
    font-family: 'icomoon';
    content: "\e9ad";
    position: absolute;
    right: 1vw;
    font-size: 0.9em;
    margin-top: 0.1em;
    transition: 0.2s;
    color: rgba(87,166,123,1.0);
}
.ctaButton26.mimimal:hover::after {
    right: 0.5vw;
}
.ctaButton26.reversed,
.ctaButton26.reversed:visited {
    color: rgba(87,166,123,1.0);
}


.relative {
    position: relative;
}

.gradientBlackFromBottom {
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackFromTop {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientGreyFromTop {
    background: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.0));
}
.gradientGreyFromTop2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 5%, rgba(0,0,0,0.0) 95%);
}
.gradientBlackFromLeft {
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackFromTopLeft {
    background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackFromBottomLeft {
    background: linear-gradient(to top right, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackFromRight {
    background: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackFromTopRight {
    background: linear-gradient(to bottom left, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
.gradientBlackBottomRight {
    background: linear-gradient(to top left, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}


/* new banners */
.banner {
    background-color: black;
}
@media screen and (min-width: 1100px) {
    .banner {
        background-color: white;
    }
}
.bannerDetail {
    color: white;
}
.bannerLinkImage {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
}
.bannerLinkImage > div > img {
    width: auto;
    height: 55vh;
}




/* width control */
.heroBanner {
    width:100vw;
}

@media screen and (max-width: 750px) {
    .subHeroBanner {
        width:100vw;
    }
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    .subHeroBanner {
        width:100vw;
    }
}
@media screen and (min-width: 1100px) {
    .subHeroBanner {
        width:50vw;
    }
}

@media screen and (max-width: 750px) {
    .tileBanner {
        width:100vw;
    }
}
@media screen and (min-width: 750px) and (max-width: 1100px) {
    .tileBanner {
        width:50vw;
    }
}
@media screen and (min-width: 1100px) {
    .tileBanner {
        width:25vw;
    }
}



@media screen and (max-width: 750px) {
    .bannerContent {
        padding: 0;
    }
}
@media screen and (min-width: 750px) and (max-width: 1100px) {
    .bannerContent {
        padding-left: 5vw; 
        padding-right: 5vw;
    }
    .subHeroBanner .bannerContent {
        padding-left: 5vw; 
        padding-right: 5vw;
    }
    .tileBanner .bannerContent {
        padding-left: 5vw; 
        padding-right: 5vw;
    }
}
@media screen and (min-width: 1100px) {
    .bannerContent {
        padding-left: 8vw; 
        padding-right: 8vw;
    }
    .subHeroBanner .bannerContent {
        padding-left: 5vw; 
        padding-right: 5vw;
    }
    .tileBanner .bannerContent {
        padding-left: 2vw; 
        padding-right: 2vw;
    }
}
.bannerContent.noPadForce {
    padding-left: 0; 
    padding-right: 0;
}


.bannerInnerContent {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;  
}
@media screen and (max-width: 750px) {
    .bannerInnerContent {
        height: 75vh;
    }
    .tileBanner .bannerInnerContent {
        height: 35vh;
    }
}
@media screen and (min-width: 750px) and (max-width: 1100px) {
    .bannerInnerContent {
        height: 75vh;
    }
    .tileBanner .bannerInnerContent {
        height: 45vw;
    }
}
@media screen and (min-width: 1100px) {
    .bannerInnerContent {
        height: 80vh;
    }
    .tileBanner .bannerInnerContent {
        height: 25vw;
    }
}





.bannerDetail {
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 100%; 
    height: 100%; 
}

.bannerDetail.bannerDetailInset {
    padding-top: 2vw;
}
@media screen and (max-width: 1100px) {
    .bannerDetail.bannerDetailInset {
        padding-top: 16vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
.textBanner .bannerDetail {
    width: auto; 
    height: auto; 
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 16vw;
    align-self: flex-start;
}


@media screen and (min-width: 1100px) {
    .textBanner .bannerDetail {
        padding-left: 8vw;
        padding-right: 30vw;
        padding-top: 15vh;
    }
    body.content2026 .bannerTile {    
        background-image: url(/images/tile-white.svg);
        background-size: 25px auto;
        background-position: 0 99%;
    }
}
@media screen and (max-width: 750px) {
    body.content2026 .heroBanner .clipBanner {
        background-position: 0 100%;
        background-size: 100% auto;
    }
    body.content2026 .heroBanner .bannerInnerContent {
        min-height: 80vh;
        text-align: center;
    }
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    body.content2026 .heroBanner .clipBanner {
        background-position: 0 10vh;
        background-size: 100% auto;
    }
    body.content2026 .heroBanner .bannerInnerContent {
        min-height: 80vh;
        text-align: center;
    }
}








/* text-based (non-image) banner updates */

.textBanner {
    color: white;
    text-wrap: balance;
}

.volvoLarge {
    font-family: 'volvo';
     font-size:8vw; 
     letter-spacing: 0.05em;
     font-weight: 300;
     line-height: 0.8em;
     padding: 0;
}

.volvoMed {
    font-family: 'volvo';
    font-size:6vw; 
    letter-spacing: 0.03em;
    font-weight: 300; 
    line-height: 0.85em; 
    padding: 0;
}

.volvoSml {
    font-family: 'volvo';
     font-size:2.5vw; 
     letter-spacing: 0.05em;
     font-weight: 300; 
     line-height: 0.9em;
     padding: 0;
}



/* article footer promos */
article > footer.promo {
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 53% 96%, 50% 100%, 47% 96%, 0 96%);
}
@media screen and (max-width: 750px) {
    article > footer.promo {
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 60% 96%, 50% 100%, 40% 96%, 0 96%);
}
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
    article > footer.promo {
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 55% 96%, 50% 100%, 45% 96%, 0 96%);
}
}




















/* 2026 volvo landing */
.basicList {
    line-height: 1.6em;
}
.basicList li {
    margin-left: 1.5em;
}
.basicList li {
    list-style-type: disc;
    border: none;
    padding: 0;
    
}

body.volvo26 ol li {
    border: none;
    padding: 0;
    line-height:2em;
} 


body.volvo26 h3 {
    font-size:3em;
}

body.volvo26 p, ul, ol {
    font-size: 1.1em;
    line-height: 1.4em;
}
@media screen and (max-width: 1100px) {
    body.volvo26 h3 {
        font-size: 2.5em;
    }
}


body.volvo26 .fullscreen {
    height: 100vh;
}



@media screen and (max-width: 1100px) {
    body.volvo26 div.tdxintroInner > section.insetCenter {
        padding-left: 0;
        padding-right: 0;
        text-align: left;
    }
    body.volvo26 div.tdxintroContain {
        border-top: 1px solid #999
    }
}


@media screen and (min-width: 1100px) {
    .trackBG1 {
        background-image: url(/images/2026/6-5-volvo-undercarriage/sec2-bg@2x.webp);
        background-size: 55vw;
        background-position: 100% -40%;
        background-repeat: no-repeat;
    }
}



@media screen and (min-width: 1100px) {
    body.volvo26 div.tdxintroContain.sideBar div.tdxintroInner {
        column-gap: 4vw;
    }
    body.volvo26 div.tdxintroContain.sideBar div.tdxintroInner > section:first-of-type {
        flex-basis: 20%;
    }
    body.volvo26 div.tdxintroContain.sideBar div.tdxintroInner > section:first-of-type {
        flex-basis: 20%;
    }

}


div.hoverTrigger {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 2em;
}

div.hoverTrigger > div {
    flex: 1 1 1px;
    padding: 1em;
    display: inline-flex;
    column-gap: 10px;
}
div.hoverTrigger > div span:first-of-type {
    font-size: 3em;
    line-height: 0.9em;
    font-family: 'volvo';
}
div.hoverTrigger > div span:last-of-type {
    color: rgba(87,166,123,1.0);
    text-transform: uppercase;
    text-wrap: balance;
    font-size: 0.9em;
}
div.hoverTrigger > div:hover {
    cursor: pointer;
}

@media screen and (min-width: 1100px) {
    div.hoverContent {
        padding: 1em 8em 1em 4em;
        font-size: 0.9em;
        min-height: 150px;
    }
}
div.hoverContent p {
    font-size: 0.95em;
    line-height: 1.4em;
}


@media screen and (min-width: 1100px) {
    body.volvo26 div.productRow {
        display: flex;
        column-gap: 4em;
    }
}
body.volvo26 div.productRow > div {
    margin-bottom: 3em;
    text-align: center;
}
body.volvo26 div.productRow > div img {
    width:80%;
    margin-bottom: 2em;
}

body.volvo26 div#contact {
    background-image: linear-gradient(to bottom, rgba(51,51,51,1.0),rgba(0,0,0,1.0));
}

body.volvo26 div.g-recaptcha > div,
body.volvo26 div.g-recaptcha > div iframe {
    width:270px !important;
}






















/* banner lozenges */
.ctaLozenge {
    display: inline-block; 
    position: absolute;
    right:1vw;
    bottom: 1vw;   
}
.ctaLozenge a {
    margin: 0;
}
.brandLozenge {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    left:0;
    bottom: 0;
    padding: 10px 1.5vw 8px 1.5vw;
}
.brandLozenge > span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 150px;
    height: 40px;
}
.brandLozenge.tdx > span {
    background-image: url(/images/logos/TDX-logo-Rev.svg);
}
.brandLozenge.volvo > span {
    background-image: url(/images/icons/icons2022/brand-volvo-REV.svg);
}
.brandLozenge.yanmar > span {
    background-image: url(/images/icons/icons2022//brand-yanmar-Rev.svg);
}
.arrowLozenge {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    left:0;
    bottom: 5px;
    text-align: center;
    line-height: 1em;
    
}
.arrowLozenge > i {
    margin: 0;
    padding: 0;
    color:white;
    font-size: 2em;
}






/* clip paths */
.clipRight {
    clip-path: polygon(0 0%, 100% 0%, 80% 100%, 0 100%);
}
.clipLeft {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
}
.clipTDX {
    clip-path: polygon(26% 7%, 74% 7%, 100% 50%, 74% 93%, 26% 93%, 0% 50%);
}
.clipTDX-border {
    background-color: rgba(87,166,123,1.0);
    padding: 3px;
}
.clipTDX-border-padding {
    background-color: rgba(255,255,255,1.0);
    padding: 15px;
    width:calc(100% - 30px);
    height: calc(100% - 30px);
}
.rev .clipTDX-border-padding {
    background-color: rgba(0,0,0,1.0);
}
.clipTDX-image {
    width:100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.clipBanner {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
@media screen and (max-width:1100px) {
    .clipBanner {
        clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
    }
    .clipBannerBottom {
        clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%);
    }
}
.clipBannerMob {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}



div.imageGrid {
    width:55vw; 
    margin: 0px auto; 
    position: relative;
}
div.imageGrid > div:not(.hero) {
    width:16vw; 
    height: 16vw;
    position: absolute;
} 
div.imageGrid > div.top {
    bottom:-1.75vw; right: 13.25vw;
} 
div.imageGrid > div.bottom {
    top:-1.75vw; right: 13.25vw;
} 
div.imageGrid > div.right {
    top:calc(50% - 8vw); right: 0;
} 


@media screen and (max-width:1100px) {
    div.imageGrid {
        width:80vw; 
    }
    .clipTDX-border {
        padding: 2px;
    }
    .clipTDX-border-padding {
        padding: 6px;
        width:calc(100% - 12px);
        height: calc(100% - 12px);
    }
    div.imageGrid > div:not(.hero) {
        display: none;
    }  
    div.imageGrid > div.hero {
        width:80vw;
        height: 80vw;
    } 
}
@media screen and (min-width:1100px) {
    div.imageGrid > div.hero {
        width:28vw;
        height: 28vw;
    } 
}







/* 2026 update body color to white */
/*
body {
    background-color: white;
}

div#masthead21 div.logo {
    width:360px;
}
@media screen and (max-width: 1500px) {
    div#masthead21 div.logo {
        width:320px;
    }
}  


div.dropDownPosition {
    position: absolute;
    z-index: 3500;
    width:100vw;
    top:-4.5em;
}



.brandNav2026 #navDeskPri21 {
    background: none;
    border-bottom: 1px solid rgba(87,166,123,1.0);
    padding-top: 0;
    padding-left: 8vw;
    padding-right: 8vw;
    min-width: 70vw;
}
.brandNav2026 #navDeskPri21 a,
.brandNav2026 #navDeskPri21 a:hover {
    border: none;
    padding-top: 0px;
    padding-bottom: 1.3em;
}
div#strip21 div.topNav nav {
    padding-right:0;
}
div#strip21 div.topNav nav.hero a {
    font-size:1.1em;
    margin-top: 0;
    color: rgba(87,166,123,1.0);
    font-weight: 400;
}
div#strip21 div.topNav nav.sub a {
    font-size:0.9em;
    margin-bottom: 5px;
    padding-bottom: 0.5em;
}
@media screen and (min-width: 1100px) {    
    #strip21,
    #navDeskSec21 {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}
#masthead21.brandNav2026 {
    background-position: 115% 50%;
    background-image: none;
}

.brandNav2026 #navDeskPri21 nav a img {
    height: 30px;
}

*/









body.content2026 {
    background-color: white;
}
body.content2026 main {
    font-size: 18px;
    padding: 0;
}



body.content2026 main article section {
    padding: 5vw 10vw;
    text-align: center;
}
@media screen and (min-width:1100px) {
    body.content2026 main article section {
        padding: 5vw 20vw;
    }
    body.content2026 main article section > div.inset {
        padding: 0 10vw;
    }
}
@media screen and (min-width:1300px) {
    
}
@media screen and (min-width:1800px) {
    
}






body.content2026 main h1 {
    font-size: 4.2vw;
    text-wrap: balance;
    border: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0;
    font-weight: 600;
}
body.content2026 main h2 {
    font-size: 3vw;
    font-weight: 600;
}
body.content2026 main h3 {
    font-size: 2vw;
    font-weight: 600;
}
body.content2026 main h3 span {
    font-weight: 600;
}
body.content2026 main h4 {
    font-size: 1.8vw;
    font-weight: 300;
}
body.content2026 main h5 {
    font-size: 1.6vw;
    line-height: 1.2em;
    font-weight: 300;
}
body.content2026 main h6 {
    font-size: 1.4vw;
    font-weight: 300;
}

body.content2026 main p {
    font-size: 1.35em;
    line-height: 1.35em;
    font-weight: 200;
}
body.content2026 main li,
body.content2026 main td {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 200;
}

.centerMe ul.basicList {
    display: inline-block;
    text-align: left;
}

@media screen and (max-width:1100px) {
    body.content2026 main h1 {
        font-size: 2em;
        color: rgba(87,166,123,1.0) !important;
    }
    body.content2026 main h2 {
        font-size: 1.7em;
    }
    body.content2026 main h3 {
        font-size: 1.4em;
    }
    body.content2026 main h4 {
        font-size: 1.2em;
    }
    body.content2026 main h5 {
        font-size: 1.1em;
    }
    body.content2026 main h6 {
        font-size: 1.1em;
    }
    body.content2026 main p {
        font-size: 1em;
    }
    body.content2026 main li,
    body.content2026 main td {
        font-size: 0.9em;
    }
}



